{% extends 'base.html' %}

{% block title %}Profile Page{% endblock title %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }} - <a href={% url 'marketplace' %} class="alert-link">Torna al Marketplace</a>
  </div>
</div>
{% endfor %}
{% endif %}

<div class="container profile">
    <h1>{{ user.username }}</h1>
    <h3 class='text-muted fw-light'>
        <a href={% url 'fantapoma:view-athlete' user.true_athlete.id %} class="text-reset">
            {{ user.true_athlete }}
        </a>
    </h3>
    <a href={% url 'fantaplayers:update-profile' user.id %} class='btn btn-info'>Modifica</a>
    <hr>
    <h3>Il tuo 8+</h3>
    <p class="lead">{{ user.player.team_name }}</p>
    <a href={% url 'fantapoma:mycrew' %} class='btn btn-primary'>Visualizza</a>
</div>
{% endblock content %}

{% block footer %}
<footer class="footer mt-auto py-5 bg-light">
  <div class="container-fluid text-left">
    <div class="row justify-content-between">
      <div class="col-5">
        <span class="text-muted">
          Fantapoma - Il gioco del Canottaggio Virtuale
        </span>
      </div>
      <div class="col-5 text-right">
        <span class="text-muted">
          Made by Federico Amato -
          <a href="mailto:fedesss98@hotmail.it" class="text-reset">fedesss98@hotmail.it</a> / 
          <a href="https://www.instagram.com/fedeamat/" class="text-reset">@fedeamat</a> /
        </span>
      </div>
    </div>
  </div>
</footer>
{% endblock %}