{% extends "base.html" %}

{% block title %}Athlete list{% endblock %}

{% block content %}
<div class="container">
    <h1>Lista degli Atleti nel Database</h1>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Punti</th>
              <th scope="col">Modifica</th>
            </tr>
          </thead>
          <tbody>
            {% for athlete in athlete_list %}
            <tr>
                <td>{{ athlete.id }}</td><td>{{ athlete.name }}</td><td>{{ athlete.total_points }}</td>
                <td>
                    <a href="{% url 'submit-points' athlete.id %}" class="btn btn-primary">Aggiorna Punti</a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}