{% extends 'base.html' %}
{% block title %}Classifica{% endblock title %}

{% block content %}
<div class="container">
    <h2>Eventi</h2>
    <p>Usa questa tabella per inserire i tuoi punteggi ottenuti negli eventi a cui hai partecipato:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Manifestazione</th>
            </tr>
        </thead>
        <tbody>
          <tr style="transform: rotate(0);">
            <th scope="row">05/03/2023</th>
            <td><a href="{% url 'submit-points' %}">Regata Regionale</a></td>

          </tr>
        </tbody>
      </table>
</div>
{% endblock content %}