{% block footer %}

<footer class="footer mt-auto py-5 bg-light">
    <div class="container-fluid text-left">
      <div class="row justify-content-between">
        <div class="col-5">
          <span class="text-muted">
            Fantapoma - Il gioco del Canottaggio Virtuale
          </span>
        </div>
        <div class="col-5 text-right">
          <span class="text-muted">
            Made by Federico Amato -
            <a href="mailto:fedesss98@hotmail.it" class="text-reset">fedesss98@hotmail.it</a> / 
            <a href="https://www.instagram.com/fedeamat/" class="text-reset">@fedeamat</a> /
          </span>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}