<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{{ title }}</title>

    <style>
      .mw-5 {
        max-width: 50rem;
      }
    </style>
  </head>
  <body>
    {% include 'fantapoma/navbar.html' %}
    <main class="container-fluid text-center mt-5">
      <h1 class="display-1">Fantapoma</h1>
      <h2>Crea il tuo otto e distruggili tutti</h2>
      <br>
      <div class="container-sm rules mt-5 mx-auto">
        <h4>Regolamento</h4>
        <p class="lead">Fantapoma è il primo gioco di Canottaggio Virtuale</p>
        <p class="text-start mw-5 mx-auto">
          Il regolamento è semplice: hai <strong>250 Franchini</strong> a disposizione per acquistare i tuoi nove <strong>Atleti Virtuali</strong>.
          Devi formare un 8+ compreso di Timoniere.<br>
          Durante la prossima regata a Poma, i tuoi Atleti guadagneranno punti nel Fantapoma in base alle loro azioni nella realtà.
          I punti verranno guadagnati <strong>vincendo le gare</strong> naturalmente, ma anche tramite <strong>Azioni Speciali</strong> più stravaganti.<br>
          Ricorda quindi di scegliere non solo gli Atleti più forti, ma anche quelli più coraggiosi e determinati. 
          E ricorda soprattutto che il Timoniere guadagna il doppio dei punti per le Azioni Speciali, ma non guadagna punti per le gare!<br>
          Dopo aver creato il tuo account, vai sul <strong>Marketplace</strong> per selezionare gli Atleti da acquistare.<br>
          Se pensi di aver acquistato un atleta per sbaglio, potrai comunque rivenderlo.<br>
          Ma attenzione! 
          Il prezzo di ogni Atleta Virtuale è determinato da quante gare ha vinto in passato ma anche dal numero di Giocatori che lo hanno già acquistato!
          Perciò affrettati a scegliere i tuoi campioni prima che lo facciano gli altri!
        </p>
      </div>
      <div class="container-sm points mw-5 mt-5 mx-auto text-left">
        <h5>Punti e Azioni Speciali</h5>
        <p class="text-sm-left">Ogni Atleta guadagna punti per ogni gara in cui si qualifica:</p>
        <ul class="text-left">
          <li>Primo <b>+50P</b></li>
          <li>Secondo <b>+30P</b></li>
          <li>Terzo <b>+20P</b></li>
          <li>Ultimo <b>-20P</b></li>
        </ul>
        <p class="text-left">Inoltre ogni Atleta guadagna o perde punti non appena compie per la prima volta una Azione Speciale (ovvero non si guadagnano o perdono più punti ripetendo una stessa Azione Speciale)</p>
        <ul>
          <li>Video "A CANNONE" con Ficarra <b>+10P</b></li>
          <li>Offrire cibo <b>+5P</b></li>
          <li>Foto con salto in premiazione <b>+5P</b></li>
          <li>Selfie con un Allenatore di Secondo Livello o superiore <b>+5P</b></li>
          <li>Bevanda offerta a un Allenatore di Primo Livello o superiore <b>+5P</b></li>
          <li>Selfie con Bruno Franchina <b>+5P</b></li>
          <li>Batticinque a Ficarra <b>+3P</b></li>
          <li>Foto stringendo la mano a un avversario di un altro club <b>+3P</b></li>
          <li>Video "VITTORIA PER LA CANOTTIERI PALERMO" con Vito Scarpello <b>+3P</b></li>
          <li>Calzini variopinti/spaiati <b>+3P</b></li>
          <li>Maglietta variopinta <b>+2P</b></li>
          <li>Indossare Occhiali da Sole <b>+1P</b></li>
          <li>Indossare un Cappellino <b>+1P</b></li>
          <li>Selfie con Miele <b>+1P</b></li>
          <li>Cazziatone da Beni <b>-10P</b></li>
          <li>Fermarsi prima dell'arrivo <b>-5P</b></li>
          <li>Arrivare in ritardo <b>-5P</b></li>
          <li>Cadere in acqua <b>-5P</b></li>
          <li>Litigare con un avversario <b>-5P</b></li>
          <li>Rifiutarsi di buttare rifiuti <b>-2P</b></li>
          <li>Tagliare il traguardo fuori dalle boe <b>-2P</b></li>
          <li>Nome pronunciato male dal giudice in partenza <b>-1P</b></li>
          <li>Ultimo a gareggiare <b>-1P</b></li>
        </ul>
      </div>  

    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
