{% extends 'base.html' %}
{% block title %}Classifica{% endblock title %}

{% block content %}
<div class="container">
    <h2>Classifica</h2>

    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Giocatore</th>
                <th scope="col">8+</th>
                <th scope="col">Punteggio</th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr style="transform: rotate(0);">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ user }}</td>
            <td ><a href={% url 'view-crew' user.id %} class="stretched-link">{{ user.player.team_name }}</a></td>
            <td>{{ user.player.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}