{% extends "base.html" %}

{% block title %}Marketplace{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }} - <a href={% url 'fantapoma:marketplace' %} class="alert-link">Torna al Marketplace</a>
  </div>
</div>
{% endfor %}
{% endif %}

<div class="container header text-center mt-5">
  <h1>MARKETPLACE</h1>
  <h2>Prenota i tuoi Atleti</h2>
</div>
<div class="container card-container mt-5">
  <h3>Atleti</h3>
  <form action="" method="GET" class="form-floating mb-3">
    <div class="row g-3 my-2">
      <div class="col-sm-7">
        <input type="search" name="athlete_name" id="searchAthlete" class="form-control" placeholder="Ricerca Atleta">
      </div>
      <div class="col-auto">
        <input type="submit" value="Ricerca" class="btn btn-primary">
      </div>
    </div>
    <div class="row g-3 my-2">
      <div class="col-sm-2">Ordina per:</div>
      <div class="col-sm-3">
        <select name="order" id="order" class="form-control">
          <option value="name" {% if ordering == 'name' or ordering is None %}selected{% endif %}>
            Nome
          </option>
          <option value="points" {% if ordering == 'points' %}selected{% endif %}>
            Punteggio
          </option>
          <option value="first" {% if ordering == 'first' %}selected{% endif %}>
            Primi Posti
          </option>
          <option value="second" {% if ordering == 'second' %}selected{% endif %}>
            Secondi Posti
          </option>
          <option value="third" {% if ordering == 'third' %}selected{% endif %}>
            Terzi Posti
          </option>
          <option value="total" {% if ordering == 'total' %}selected{% endif %}>
            Totale Gare
          </option>
        </select>
      </div>
      <div class="col-sm-2 py-1">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="increasing" role="switch" id="orderType" {% if increasing == 'on' %}checked{% endif %}>
          <label class="form-check-label" for="orderType">Crescente</label>
        </div>
      </div>
      <div class="col-sm-1">
        <input type="submit" value="Ordina" class="btn btn-primary">
      </div>
    </div>
  </form>
  <p></p>
  <div class="container-fluid object">
    <div class="row">
    {% for object in object_list %}
      <div class="col-sm-4 my-3">
        <div class="card shadow">
          <div class="card-header">
            <h5>{{object.name}}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Ha gareggiato a Poma dal {{object.first_time|date:'d/m/Y'}} fino al {{object.last_time|date:'d/m/Y'}}</p>
            <ul class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">Primi Posti:</div>
                <span class="badge bg-primary rounded-pill">{{object.first}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">Secondi Posti:</div>
                <span class="badge bg-primary rounded-pill">{{object.second}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">Terzi Posti:</div>
                <span class="badge bg-primary rounded-pill">{{object.third}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">Totale Gare:</div>
                <span class="badge bg-primary rounded-pill">{{object.total}}</span>
              </li>
            </ul>
            <h5 class="card-text text-end m-2">{{object.adjusted_price}} Franchini</h5>
            <a href="{% url 'fantapoma:view-athlete' object.id %}" class="btn btn-primary">Vedi</a>
          </div>
          <div class="card-footer text-muted">
            Prenotato da {{ object.bookings }} Giocatori.
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
  
{% endblock %}

#<!---->