{% extends "base.html" %}

{% block title %}Marketplace{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}

<style>
@media (max-width: 992px) {

  .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 2rem;
  }
}

@media (max-width: 450px) {

  .col-sm-4 {
    padding: 0;
  }
}

  
</style>

<div class="container header text-center mt-5">
  <h1>SPECIAL MARKET</h1>
  <h2>Acquista i tuoi Special</h2>
</div>
<div class="container card-container mt-5">  
  <div class="container-fluid object">
    <div class="row">
    {% for object in object_list %}
      <div class="col-sm-4 my-3">
        <div class="card shadow">
          <div class="card-header">
            <h5>{{object.name}}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{ object.special }}</p>
            <h5 class="card-text text-end m-2">{{object.price}} Franchini</h5>
            {% if request.user in object.players.all %}
              <button class="btn btn-primary" disabled>Acquista</button>
            {% else %}
              <a href="{% url 'fantapoma:buy_special' object.id %}" class="btn btn-primary">Acquista</a>
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            Special di tipo {{ object.tipo }}.
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
  
{% endblock %}
