{% extends "base.html" %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }} - <a href={% url 'marketplace' %} class="alert-link">Torna al Marketplace</a>
  </div>
</div>
{% endfor %}
{% endif %}

  <main class="container">
    <h2>
    {% if athlete %}
      Aggiorna i Punti di {{ athlete }}
    {% else %}
      Aggiorna i tuoi Punti
    {% endif %}
    </h2>
    <p>Usa questo form per registrare i tuoi Risultati e le tue Azioni Speciali e aggiornare i tuoi punti.</p>
    <div class="container mb-5">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            {{ field.errors }}<br>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <div class="form-text help">{{ field.help_text|safe }}</div>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Invia</button>
      </form>
    </div>
  </main>

{% endblock %}
{% block footer %}
<footer class="footer mt-5 py-5 bg-light text-center">
  <div class="container-fluid text-left">
    <div class="row justify-content-between">
      <div class="col-4">
        <span class="text-muted">
          Fantapoma - Il gioco del Canottaggio Virtuale
        </span>
      </div>
      <div class="col-8 text-right">
        <span class="text-muted">
          Made by Federico Amato -
          <a href="mailto:fedesss98@hotmail.it" class="text-reset">fedesss98@hotmail.it</a> / 
          <a href="https://www.instagram.com/fedeamat/" class="text-reset">@fedeamat</a> /
        </span>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}