{% extends "base.html" %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }} - <a href={% url 'fantapoma:marketplace' %} class="alert-link">Torna al Marketplace</a>
  </div>
</div>
{% endfor %}
{% endif %}

<div class="container header mt-5">
  <h2>
    {{ athlete.name }}{% if athlete.is_user is not None %}<em> A.K.A. {{ athlete.is_user }} </em>{% endif %}
  </h2>
  <h3>{{ athlete.category }}</h3>
  <h3 class="text-muted fw-light fs-4">{{ athlete.club }}</h3>
  <h3 class="fw-light fs-4">{{ athlete.adjusted_price }} Franchini</h3>
  <p class="lead">
    A Poma ha disputato {{ athlete.total }} gare nel 2024,
    vincendo: 
    <strong>{{ athlete.first }}</strong> Ori - <strong>{{ athlete.second }}</strong> Argenti - <strong>{{ athlete.third }}</strong> Bronzi
  </p>
  {% if request.user.is_authenticated %}
  <form action="" method="POST">
    {% csrf_token %} 
    {% if buy %}
    <input name='acquista' value="Aquista" type="Submit" class="btn btn-primary mt-4" />
    {% else %}
    <input name='acquista' value="Aquistato" type="Submit" class="btn btn-outline-primary disabled mt-4"/>
    {% endif %}
    {% if sell %}
    <input name='rimuovi' value="Rimuovi" type="Submit" class="btn btn-danger mt-4" />
    {% else %}
    <input name='rimuovi' value="Rimuovi" type="Submit" class="btn btn-outline-danger disabled mt-4" />
    {% endif %}
    <a href="{% url 'fantapoma:fanta_athlete_event_score_update' athlete.id %}" class="btn btn-seconday">Testimonia</a>
  </form>
  {% endif %}
</div>
<div class="container races-table my-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data</th>
        <th scope="col">Evento</th>
        <th scope="col">Posizione</th>
        <th scope="col">Barca</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      {% for crew in crews %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ crew.race.event.date }}</td>
        <td>{{ crew.race.event.name }}</td>
        <td>{{ crew.result }}</td>
        <td>{{ crew.race.boat_type }}</td>
        <td>{{ crew.race.category }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %} 